@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital@0;1&family=Satisfy&display=swap');

/* Root variables */
:root {
    --background: #ffffff;
    --screen: rgba(0, 0, 0, 0.2);
    --card-front: #FCBA04;
    --card-back: #6a8ab5;
    --text: #0f144d;
    --highlight: #7c5b00;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: "Pathway Extreme", sans-serif;
    display: flex;
    flex-direction: column;
}

body * {
    box-sizing: border-box;
    margin: 0;
}

/* Page header and footer */
.header,
.footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-family: "Satisfy", cursive;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 90%;
    padding: 10px 20px;
    background-color: var(--background);
    border-radius: 10px;
    border: 5px solid var(--text);
    color: var(--text);
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-content ul {
    padding-inline-start: 20px;
    text-align: left;
}

/* Theme styles */
.theme {
    display: flex;
    width: 45px;
    padding: 2px;
    border: 2px solid var(--text);
    border-radius: 15px;
    background-color: var(--screen);
    align-items: flex-end;
}

.theme:hover {
    cursor: pointer;
}

.theme-icon {
    color: var(--text);
    width: 100%;
    display: flex;
    align-items: center;
}

.light {
    justify-content: flex-end;
}

.dark {
    justify-content: flex-start;
}

/* Buttons and links */
.close {
    color: var(--text);
    font-size: 20px;
    background: none;
    border: none;
}

.difficulty-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.button {
    padding: 10px 10px;
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
    background-color: var(--card-back);
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 1em;
}

.difficulty-buttons .button,
.submit {
    background-color: var(--text);
    color: var(--background);
    border-color: var(--background);
}

.social,
.contact-button {
    font-size: 32px;
    color: var(--text);
}

.title.home:hover,
.contact-button:hover,
.close:hover,
.social:hover {
    color: var(--highlight);
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: var(--card-front);
    color: var(--text);
    border-color: var(--text);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button:disabled {
    cursor: not-allowed;
}

a:visited {
    color: var(--text);
}

a:-webkit-any-link {
    color: var(--text);
}

/* Main container and start screen */
.main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    border: 5px solid var(--text);
    border-radius: 10px;
    background-color: var(--screen);
    width: 90%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: center;
}

/* Game screen */
.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.cards-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.card-container {
    width: 25%;
    padding: 5px;
}

.card {
    height: 100%;
    border: 2px solid var(--text);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Satisfy", cursive;
    font-size: 4vh;
}

.back {
    background-color: var(--card-back);
}

.back:hover {
    box-shadow: 5px 5px 20px var(--text);
    cursor: pointer;
}

.front {
    background-color: var(--card-front);
}

/* End screen */
.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.winning-score {
    font-family: "Satisfy", cursive;
    font-size: 2em;
}

/* Contact screen */
form .input {
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 80%;
    margin: 5px 0;
    padding: 5px;
    font-family: "Pathway Extreme", sans-serif;
}

textarea {
    resize: none;
}

.hidden {
    display: none;
}

/* Media queries */
@media(orientation: landscape) {

    body {
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        height: 100vh;
    }

    .header,
    .footer {
        flex-direction: column;
        width: 15vw;
    }

    .main {
        width: 70vw;
        height: 100vh;
    }
}

@media(max-height: 450px) {

    .header {
        position: fixed;
        left: 0;
        height: 100vh;
    }

    .footer {
        position: fixed;
        right: 0;
        height: 100vh;
    }

    .main {
        align-items: flex-start;
        padding-top: 5vh;
    }

    .start.screen,
    .contact.screen,
    .end.screen {
        height: fit-content;
    }

    .rules li {
        font-size: 15px;
    }

    .button {
        margin: 5px;
    }
}

@media(min-width: 768px) {

    p,
    li {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2,
    .button {
        font-size: 30px;
    }
}

@media(min-width: 992px) {
    .main .screen {
        width: 70%;
        height: 70%;
    }

    h1 {
        font-size: 50px;
    }
}
