body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

.header,
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    border: 5px solid black;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.cards-board {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
}

.card-container {
    width: 25%;
    padding: 5px;
}

.card {
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.front {
    background-color: rgb(106, 159, 169);
}

.hidden {
    display: none;
}